body {
    background-color: rgb(196, 171, 117);
}
.ingredients {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.ingredients-table {
    border: 3px solid rgb(204, 198, 140);
    margin: 0 auto;
    color: rgb(255, 255, 255);

}
.heading3 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
}
.instructions {
    padding-top: 20px;
    padding-bottom: 25px;
    border: 3px solid rgb(255, 255, 255);
    width: 70%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;   
}
.instructions ol {
    border: 3px solid rgb(202, 193, 138);
    width: 90%;
    margin: 0 auto;
    color: rgb(244, 248, 244);
    font-size: 20px;
}
.footer{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 15px;
    margin-bottom: 1px;

}